.pokemon{
  height: 100%;
}
.pokemon__info {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pokemon__info--img {
  margin-top: 8rem;
  height: 150px;
  display: flex;
  align-items: flex-end;
}
.pokemon__info--img img {
  max-width: 300px;
  margin: 0 auto;
}

.stat__grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stat {
  text-transform: capitalize;
}
.stat__level--box {
  width: 0;
  background-color: white;
  animation-name: barra;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes barra {
  from{
    width: 0%;
    display: none;
  }
  to {
    width: 100%;
    display: block
  }
}
.stat__level {
  height: 20px;
  display: block;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
}

.pokemon__moves {
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.pokemon__moves span {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  text-transform: capitalize;
}

.pokemon__stats h1,
.pokemon__stats h3 {
  text-align: center;
  text-transform: capitalize;
}

.stat__box {
  display: flex;
  justify-content: space-between;
}

.stats__title {
  margin-bottom: 1rem;
}
